apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: embb-slice-hpa
  namespace: pdc-nsd
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: embb-slice
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 10