apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: urllc-hpa
  namespace: pdc-nsd
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: urllc-slice  # Matches metadata.name in urllc-deployment.yaml
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 15