apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nsd-ingress
  namespace: pdc-backend
spec:
  ingressClassName: nginx
  rules:
    - host: localhost
      http:
        paths:
          - path: /scheduler
            pathType: Prefix
            backend:
              service:
                name: scheduler-service
                port:
                  number: 5000
          - path: /frontend
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 3000
          - path:  /backend
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 80000      
