apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: pdc-nsd
spec:
  type: ClusterIP       # <--- Changed from ClusterIP
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
       # <--- Fixed port so we know where to send traffic
      protocol: TCP